@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.wrapper{
    width: 100%;
    overflow-x: hidden;    
}
.top{
    width: 100%;
    min-height: 40px;
    border: 1px solid #444444;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}
.top div{
    padding-top: 10px;
    border-left: 1px solid #444444;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #444444;
    font-family: "Gotham";
}
/***********************************************/
/*top part*/ 
@media screen and (max-width: 767px) {
    .top {
        grid-template-columns: 1fr; 
    } 
    .top div{
        border-left: 0;
        border-top: 1px solid #444444;
        padding: 10px 0; 
} 
}
/***********************************************/


.main{
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
    height: 126px;
    
}
.maincontainer{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.logo{
    width: 274px;
    height: 125px;
    background-color: #ffffff;
}
.logo img{
    width: 100%;
    height: 100%;
}
.searchBar{
    width: 560px;
    height: 54px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    position: relative;
    margin: 38px 45px ;
}
#search{
    font-size: 15px;
    letter-spacing: 0px;
    color: #444444;
    font-family: "Gotham";
    padding: 12px;

    width: 560px;
    height: 54px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    outline: none;

}
.mgGlass{
    font-size: 20px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Font Awesome";
}
.socialIcon{
    display: flex;
    gap: 10px;
    margin: 46px 20px;
    cursor: pointer;
}
.socialbox:nth-child(1){
    animation-delay: 0.0s;
    background-color: #1877F2;
}
.socialbox:nth-child(2){
    animation-delay: 0.2s;
    background-color: #1DA1F2;
}
.socialbox:nth-child(3){
    animation-delay: 0.4s;
    background-color: #E4405F;
}
.socialbox:nth-child(4){  
    animation-delay: 0.6s;
    background-color: #CD201F;
}
.socialbox{
    opacity: 0.802;
    width: 41px;
    height: 41px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.10196078431372549);
    border: 1px solid #616161;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    transition: all 500ms;

    animation-name: social;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out; 
    animation-direction: alternate;

}
.socialbox>a{
    width: 41px;
    height: 41px;
    padding: 25% 25%;
}
.socialbox:hover{
        scale: 1.1;
        box-shadow: 3px 3px 10px black;
    }
.ic{
    font-size: 20px;
color: #434343;
font-family: "Font Awesome";
text-align: center;
}
.searchButton{
    width: 71px;
    height: 55px;
    background-color: #db3838;
    position: relative;
    top: -55px;
    right: -550px;
    border: none;
    cursor: pointer;
}
.searchButton:hover{
    background-color: #e91b1b;
}

#category{
    height: 50px;
    right: 30px;
    position: absolute;
    top: 1px;
    outline: none;
    border: none;
    font-size: 15px;
    letter-spacing: 0px;
    font-family: "Gotham";
}
#category select{
    color: #444444;
}
.spann{
    position: absolute;
    font-size: 15px;
    letter-spacing: 0px;
    color: #444444;
    font-family: "Gotham";
    font-size: 32px;
    top: 5px;
    right: 180px;
    
}
/*******************************************************/
/* Your existing styles for non-responsive layout */

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
    .logo{
        width: 40%;
        float: left;
        margin-left: 5%;
    }
    .maincontainer {
        margin-left: 10%;
        width: 40%;
        float: left;
    }
    .searchBar {
        display: none;
    }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
    .maincontainer{
        display: none;
    }
    .logo{
        width: 100%;
    }
}

/*******************************************************/



.nav{
    font-size: 15px;
    letter-spacing: 0px;
    text-transform: uppercase;
    background-color: black;
    font-weight: 500;
    font-family: "Gotham";
    display: flex;
    width: 100%;
    justify-content: center;
}
.nav li{
    list-style:none;
    /* margin: 20px 30px; */
    padding: 20px 30px;
    position: relative;
    cursor: pointer;
}
.nav li:nth-child(8){
    background-color: #db3838;
    border: 2px solid #db3838;
    transition: all 200ms;
    margin-left: 10px;
}
.nav li:nth-child(8):hover{
    background-color: #e91b1b;
}
.nav li a{
    text-decoration: none;
    color: #ffffff;
}
.bottom{
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0;
    height: 5px;
    margin-top: 16px;
    background-color: #db3838;
    opacity: 0;
    transition: all 300ms;
}
.nav li:hover{
    .bottom{
        opacity: 1;
    }
}
.hero{
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url("assets/Main\ Banner\ Area.png");
    padding-top: 80px;
    position: relative;
}
.left{
    position: absolute;
    opacity: 0.749;
    width: 60px;
    height: 60px;
    border-radius: 33px;
    cursor: pointer;
    border:3px solid #ffffff;
    top: 40%;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    position: absolute;
    cursor: pointer;
    opacity: 0.749;
    width: 60px;
    height: 60px;
    border-radius: 33px;
    border:3px solid #ffffff;
    right: 40px;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.t1{
    font-size: 25px;
    line-height: 60px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Gotham";
    text-align: center;
}
.t2{
    font-size: 86px;
    line-height: 60px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: "Gotham";
    text-align: center;
}
.line{
    display: flex;
    align-items: center;
    justify-content: center;
}
.line1{
    width: 150px;
    height: 2px;
    background-color: #ffffff;
}
.t3{
    font-size: 34px;
    line-height: 60px;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans";
    text-align: center;
}
.line2{
    width: 150px;
    height: 2px;
    background-color: #ffffff;
}

.t4{
    font-size: 43px;
    line-height: 60px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: "Gotham";
    text-align: center;
}
.arrow{
    color: #ffffff;
    scale: 1.5;
}


.browse{
    width: 80%; 
    font-size: 16px;
    display: flex;
    margin: 40px auto; 
}

.browse ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style:":     ";
}
.browse ul li{

    font-size: 16px;
    color: #444444;
    font-weight: 550;
    font-family: "Gotham";
}
.b1{
    list-style: none;
}
.b2{
    list-style: url("assets/arrow.png");
}


.women{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 50px auto;
    position: relative;
}
.r1{
    position: absolute;
    top: 10px;
    left: -135px;
    height: 94%;
    width: 112px;
}
.w{
    font-size: 28px;
    line-height: 58px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Gotham";
    text-align: center;
    margin-top: 25%;
    margin-bottom: 8%;
}
.w1{
    width: 100%;
    height: 300px;
    background-image: url("assets/Banner1.png");
    background-position: center;
    background-repeat: no-repeat;
}
.w2{
    width: 100%;
    height: 300px;
    background-image: url("assets/banner2.png");
    background-position: center;
    background-repeat: no-repeat;
}
.w3{
    width: 100%;
    height: 300px;
    background-image: url("assets/Banner\ 3.png");
    background-position: center;
    background-repeat: no-repeat;
}

.Wbtn{
    width: 135px;
    height: 37px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family:"Gotham";
    background-color: #db3838;
    margin-left: 30% ;
    cursor: pointer;
    transition: all 300ms;
    border: 2px solid #db3838;
}
.Wbtn:hover{
    scale: 1.05;
    background-color: #ffffff;
    color: #db3838;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.623);
}

.men{
    width: 80%;
    margin: 80px auto;
    position: relative;
}
.MenRec{
    position: absolute;
    right: -135px;
    bottom: -10px;
    height: 105%;
    width: 100px;
}
.menHead{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.M_L:hover,.M_L:active{
    cursor: pointer;
}
.M_L h1:active{
    color: #CD201F !important;
}
.m1{
    font-size: 25px;
    text-transform: uppercase;
    color: #444444;
    font-weight: 500;
    font-family: "Gotham"; 
}
.m2{
    margin:20px 0;
    width: 340px;
    height: 3px;
    background-color: #808080;
}
.mArrow{
    opacity: 0.759;
}

.mArrowBox{
    opacity: 0.749;
    width: 39px;
    height: 39px;
    border-radius: 20px;
    border: 2px solid #444444;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mArrowBox:hover,mArrowBox:active{
    border: 3px solid #CD201F;
    .mArrow:hover,mArrow:active{
        opacity: 1;
        color: #CD201F;
    }
}

.M_R{
    display: flex;
    gap: 10px;
}

.MenBanner{
    display: flex;
    width: 100%;
    min-height: 400px;
    justify-content: space-between;
    gap: 30px;
}
.leftBanner{
    width: 516px;
    height: 400px;
    background-image: url("assets/Section\ banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.leftBanner h1{
    font-size: 45px;
    line-height: 93px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 520;
    font-family: "Gotham";
    text-align: center;
    margin-top: 22%;
}
.leftBanner button{
    margin-left: 30%;
    border:  none;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Gotham";
    width: 200px;
    height: 55px;
    background-color: #db3838;
    cursor: pointer;
    transition: all 300ms;
    border: 2px solid #db3838;
}
.leftBanner button:hover{
    scale: 1.05;
    background-color: #ffffff;
    color: #db3838;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.623);
}
.right1 img{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin-top: 12px;
    height: 280px;
    width: 255px;
}
.right2 img{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin-top: 12px;
    height: 280px;
    width: 255px;
}

.mentextheading{
    margin: 8px 0;
    font-size: 16px;
    color: #2f2e2e;
    font-weight: 500;
    font-family: "Gotham";
}
.MenBanner hr{
    width: 273px;
    height: 2px;
    background-color: #e6e6e6;
    margin-bottom: 8px;
}
.Mprice{
    font-size: 20px;
    color: #161515;
    font-weight: 500;
    font-family: "Gotham";
}
.revContainer{
    display: flex;
    justify-content: space-between;
}
.review{
    margin-top: 0px;
}
/*------------------Rating--------------------*/
     .rating {
            display: flex;
            justify-content: center;
        }
        .star {
            cursor: pointer;
            font-size: 25px;
            color: black;
            position: relative;
        }

        .star:before {
            content: '★';
            position: absolute;
            top: -1px;
            left: 0px;
            font-size: 25px;
            color: transparent;
            transition: color 0.1s, transform 0.2s;
        }

        .star:hover:before,
        .star.checked:before {
            color: #FDFF00;
            transform: scale(1.1);
        }

        .star.checked:before {
            color: #FFEF00;
            animation: glitter 2s infinite;
        }

        .star:before {
            clip-path: polygon(50% 0%, 61% 39%, 100% 45%, 69% 68%, 79% 100%, 50% 79%, 21% 100%, 31% 68%, 0% 45%, 39% 39%);
            -webkit-clip-path: polygon(50% 0%, 61% 39%, 100% 45%, 69% 68%, 79% 100%, 50% 79%, 21% 100%, 31% 68%, 0% 45%, 39% 39%);
        }

        @keyframes glitter {
            0% {
                transform: scale(1);
                opacity: 0.8;
            }

            50% {
                transform: scale(1.1);
                opacity: 1;
            }

            100% {
                transform: scale(1);
                opacity: 0.8;
            }
        }




.ReviewBtn button{
    border:  none;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Gotham";
    margin-right: 20px;
    width: 115px;
    height: 30px;
    background-color: #db3838;
    cursor: pointer;
    transition: all 300ms;
    border: 2px solid #db3838;
}

.ReviewBtn button:hover{
    scale: 1.05;
    background-color: #ffffff;
    color: #db3838;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.623);
}
.women2{
    width: 80%;
    margin: 80px auto;
    position: relative;
}

.womenBanner{
    flex-direction: row-reverse;
}
.womenLeftBanner{
    padding-top: 20px;
    background-image: url("assets/Rectangle\ 15\ copy\ 8.png");
}

.WomenRec{
    position: absolute;
    left: -200px;
    bottom: -5px;
    height: 102%;
}

.shop{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.shop .ShopRec{
    position: absolute;
    right: -135px;
    bottom: -10px;
    height: 105%;
    width: 100px;
}
.shopHead{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.s1{
    color: #9d9b9b;
}
.rectangle{
    width: 260px;
    height: 3px;
    background-color: #808080;
    margin: 16px 0;
}
.sbtn button{
    border:  none;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Gotham";
    width: 110px;
    
    height: 30px;
    background-color: #db3838;
    cursor: pointer;
    transition: all 300ms;
    border: 2px solid #db3838;
}
.sbtn button:hover{
    scale: 1.05;
    background-color: #ffffff;
    color: #db3838;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.623);
}
.ShopItems{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.Shopleft{
    display: flex;
    gap: 20px;
}
.sp{
    margin-top: 10px;
}

.blog{
    width: 80%;
    margin: 100px auto;
    position: relative;
}
.ReactangleBlog{
    position: absolute;
    width: 109px;
    height: 500px;
    top: -44px;
    left: -137px;
}
.bR{
    width: 350px;
    height: 3px;
    background-color: #808080;
    margin: 20px 0;
}
.mainblog{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
.b img{
    width: 350px;
}

/*********************************/
/* Base styles for non-responsive layout */

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
    .blog {
        padding: 20px;
    }
    .bloghead {
        text-align: center;
    }
    .mainblog {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blog1, .blog2, .blog3 {
        margin-bottom: 40px;
    }
    .ReactangleBlog{
        display: none;
    }
    .lineDown{
        display: none;
    }
    .bR{
        margin: 30px auto;
    }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
    .blog {
        padding: 10px;
    }
    .blog1, .blog2, .blog3 {
        margin-bottom: 20px;
    }
}


/*********************************/



/**/
.mainblog>div{
    transition: all 1s;
    cursor: pointer;
    padding: 5px;
}
.blog1:hover{
    scale:1.051;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.405);
}
.blog2:hover{
    scale:1.051;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.405);
}
.blog3:hover{
    scale:1.051;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.405);
}

/**/
.mainblog h3{
    font-size: 15px;
    text-transform: uppercase;
    color: #444444;
    font-weight: 600;
    font-family: "Gotham";
    margin: 16px 0;
}
.mainblog p{
    width: 325px;
    height: 67px;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
    font-family: "Gotham";
    opacity: 0.879;
}
.b{
    position: relative;
}
.b span{
    font-size: 15px;
    position: absolute;
    font-weight: 600;
    top: 35px;
    left: 17px;
}
.b div{
    position: absolute;
    height: 64px;
    width: 64px;
    top: 153px;
    font-size: 32px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Gotham";
    text-align: center;
}
.lineUp{
    position: absolute;
    width: 124%;
    top: -45px;
    left: -137px;
}
.lineDown{
    position: absolute;
    width: 124%;
    top: 456px;
    left: -137px;
}

footer{
    width: 84%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.leftFooter div{
    margin-left: 28px;
    width: 264px;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    font-family: "Gotham";
}
.leftFooter div strong{
    font-size: 17px;
}
.rightFooter h2{
    font-size: 20px;
    text-transform: uppercase;
    color: #444444;
    font-weight: bold;
    font-family: "Gotham";
}
.rightFooter #email{
    min-width: 330px;
    height: 54px;
    padding: 18px;
    background-color: #e8e8e8;
    outline:none;
    border: none;
}
.rightFooter #submit{
    min-width: 100px;
    height: 54px;
    background-color: #db3838;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Gotham";
    border: none;
    margin-left: -5px;
}
#submit:hover{
    background-color: #e91b1b;
}
.rightFooter{
    display: flex;
    flex-direction: column;
    margin: 34px 0;
}
.rf1{
    display: flex;
}
.rf1 h2{
    margin: 16px 0;
    margin-right: 70px;
    
}
.rf2{
    display: flex;
    justify-content: space-between;
}
.rf2 ul li{
    list-style: none;
    margin: 20px 0; 
    font-size: 15px;
    color: #444444;
    font-weight: 500;
    font-family: "Gotham";   
}
.rf2 ul li a{
    color: #444444;
    text-decoration: none;
}
.rf2 ul li a:hover{
    color: #fd0404;
}
summary{
    font-size: 15px;
    color: #444444;
    font-weight: 500;
    font-family: "Gotham";
}
details p{
    font-size: 13px;
    color: rgba(96, 94, 94, 0.708);
    margin: 8px 4px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    line-height: 16px;
}
details p u{
    font-size: 13px;
    color: #444444;
    text-shadow:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
details[open] summary {
    color: #db3838;
    font-weight: 700;
    text-decoration: underline;
  }
.rf2 .rf2_1{
    width: 230px;
}
.rf2 h3{
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 15px;
    text-transform: uppercase;
    color: #444444;
    font-weight: 600;
    font-family: "Gotham";
}
.rightFooter{
    position: relative;
}
.footline1{
    position: absolute;
    width: 100%;
    top: 105px;
}
.footline2{
    position: absolute;
    width: 100%;
    bottom: -10px;
}

.copyright{
    font-size: 18px;
    color: #444444;
    font-family: "Gotham";
    font-weight: 900;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    text-align: center;

}

li{
    cursor: pointer;
}
.ic {
    color: white;
}
@keyframes social {
    30%{
        background-color: white;
        transform: translateY(-20px) ;
    }
    70%{
        transform: translateY(20px);
    }
}

















/*shop*/
@media screen and (max-width: 768px) {
    .ShopItems {
        flex-direction: column;
        align-items: center;
        background-color: #e5e2e2;
    }
    .shopHead{
        flex-direction: column;
    }
    .Shopleft{
        flex-direction: column;
    }
}


/* *** */
/* Base styles for non-responsive layout */

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
    .menHead {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .M_R {
        margin-top: 20px;
    }
    .right1, .right2 {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 40px;
    }
    .WomenRec{
        display: none;
    }
    .womenBanner{
        flex-direction: column;
    }
    .women{
        width: 90%;
        grid-template-columns: repeat(1fr);
    }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
    .right1, .right2 {
        margin-bottom: 20px;
    }
    .Mprice {
        font-size: 14px;
    }
}



/*men*/
/* Base styles for non-responsive layout */

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
    .men{
        width: 90%;
    }
    .MenRec{
        display: none;
    }
    .menHead {
        flex-direction: column;
        align-items: center;
    }
    .MenBanner{
        margin: 30px 0;
        flex-direction: column;
        align-items: center;
    }
    .M_R {
        margin-top: 20px;
        text-align: center;
    }
    .right1, .right2 {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 40px;
    }
    .leftBanner button, .ReviewBtn button {
        font-size: 14px;
    }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
    .right1, .right2 {
        margin-bottom: 20px;
    }
    .Mprice {
        font-size: 14px;
    }
    .leftBanner button, .ReviewBtn button {
        font-size: 12px;
    }
}


/*women*/
/* Base styles for non-responsive layout */

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
    .w1, .w2, .w3 {
        text-align: center;
    }
    .r1{
        display: none;
    }
    .women{
        grid-template-columns: 1fr;
        width: 90%;
    }
    .Wbtn{
        margin: 0 auto;
    }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
    .w1, .w2, .w3 {
        text-align: center;
        margin-bottom: 15px;
    }
    .w {
        font-size: 18px;
    }
    .Wbtn {
        font-size: 14px;
    }
}



/*browse*/

/* Base styles for non-responsive layout */

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
    .browse ul {
        display: none;
    }
}



/*footer*/
/* Base styles for non-responsive layout */

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
    #contact{
        flex-direction: column;
        align-items: center;
    }
    .leftFooter {
        text-align: center;
        margin-bottom: 30px;
    }
    .rf1 {
        flex-direction: column;
        align-items: center;
            text-align: center;
    }
    #submit,#email{
        margin: 20px auto;
        width: 100%;
        }
    .rf2{
            flex-direction: column;
            align-items: center;
            text-align: center;
    }
    
}


/* Base styles for non-responsive layout */
.toggle-btn{
    text-align: center;
    width: 100%;
    height: 50px;
    background-color:#CD201F;
    font-size: larger;
    color: white; 
    padding: 10px;
    display: none;
}
/* Media Query for Tablets */
@media screen and (max-width: 768px) {
    .toggle-btn{
        display: block;
    }
    .nav{
        flex-direction: column;
    }
    .nav li {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .nav a {
        padding: 10px;
    }
    .nav .bottom {
        width: 100%;
    }
    .nav.responsive {
        display: none;
    }
    .nav li {
        margin-bottom: 8px;
        text-align: left;
    }
    .nav a {
        padding: 8px;
    }
    /* .nav.responsive {
        display: flex;
    } */
}



/* *hero Nav* */
/* Base styles for non-responsive layout */

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero .left, .hero .right {
        display: none;
    }
    .arrow {
        margin: 0;
    }
    .t1, .t2, .t3, .t4 {
        margin: 10px 0;
    }
    .line1, .line2 {
        display: none;
    }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
    .hero .t2 {
        font-size: 42px;
    }
    .hero .t3 {
        display: none;
    }
    .hero .t4 {
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    .browse{
        display: none;
    }
    .top{
        display: none;
    }
}

Button:active {
    border:5px solid #434343;
    color: black !important;
    scale: 1 !important;
}




.browse a{
    text-decoration: none;
}






